<div id="page" class="container-fluid">
    <div class="row">
        <div id="region-main-box" class="col-xs-12 col-md-3">
            <section id="region-main">
                <div class="card card-block" style="min-height:20rem;">
                    {{#panel1title}}{{{panel1title}}}{{/panel1title}}
                    {{#panel1html}}{{{panel1html}}}{{/panel1html}}
                </div>
            </section>
        </div>
        <div id="region-main-box" class="col-xs-12 col-md-3">
            <section id="region-main">
                <div class="card card-block" style="min-height:20rem;">
                    {{#panel2title}}{{{panel2title}}}{{/panel2title}}
                    {{#panel2html}}{{{panel2html}}}{{/panel2html}}
                </div>
            </section>
        </div>
        <div id="region-main-box" class="col-xs-12 col-md-3">
            <section id="region-main">
                <div class="card card-block" style="min-height:20rem;">
                    {{#panel3title}}{{{panel3title}}}{{/panel3title}}
                    {{#panel3html}}{{{panel3html}}}{{/panel3html}}
                </div>
            </section>
        </div>
        <div id="region-main-box" class="col-xs-12 col-md-3">
            <section id="region-main">
                <div class="card card-block" style="min-height:20rem;">
                    {{#panel4title}}{{{panel4title}}}{{/panel4title}}
                    {{#panel4html}}{{{panel4html}}}{{/panel4html}}
                </div>
            </section>
        </div>
    </div>
</div>
